
body {
    background-color: #3e3f77;
    color: #fff;
}

.today {
    text-align: center;
}

h1 {
    display: inline-block;
}

.clipboard {
    font-size: 6rem;
}

.fa-trash {
    cursor: pointer;
}

@media (max-width: 1416px) and (min-width: 1024px) {
    body {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 2.25rem;
    }
    .clipboard {
        font-size: 4rem;
    }
    #tasksCounter ,
    #finishedCounter{
        font-size: 1.5rem;
        margin-left: 0.7rem;
    }
}

@media (max-width: 1023px) and (min-width: 764px) {
    body {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    .clipboard {
        font-size: 3rem;
    }
    #tasksCounter ,
    #finishedCounter{
        font-size: 1.5rem;
        margin-left: 0.7rem;
    }
}

@media (max-width: 763px) {
    body {
        font-size: .75rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    .clipboard {
        font-size: 2rem;
    }
    #tasksCounter ,
    #finishedCounter{
        font-size: 1.25rem;
        margin-left: 1.5rem;
    }
}